<article class="UserLogged">
  <div class="ProfileAction" id="ProfileAction">
    <div class="ProfileAction_Header">
      <picture>
        <img
          src="/img/users/<%= locals.userLogged.avatar %>"
          alt="<%= locals.userLogged.firstname %>"
          title="<%= locals.userLogged.firstname %>"
        />
      </picture>
      <i class="fa-solid fa-angle-right" id="ProfileActionArrowIcon"></i>
    </div>
    <div class="ProfileAction_Body" id="ProfileAction_Body">
      <div class="ProfileAction_BodyHead">
        <div class="ProfileAction_BodyProfileOptions">
          <span
            ><%= locals.userLogged.firstname %> <%=
            locals.userLogged.lastname%></span
          >
          <span>Accede y administra tus datos</span>
        </div>
      </div>
      <div class="ProfileAction_BodyFoot">
        <a href="/logout" class="closeSession">Cerrar Sesión</a>
      </div>
    </div>
  </div>
</article>
<script defer src="/js/Components/UserLogged/UserLogged.js"></script>
