<article class='FormAuthentication'>
    <picture>
        <img src='/img/favicon.svg' alt='Logo' title='Logo'>
    </picture>
    <form action='/login' method='POST' class='FormContainer'>

        <div class='FormContent'>
            <%- include('../LabelInput/LabelInput', { id: 'firstname', label: 'Nombre', type: 'text', name: 'firstname', placeholder: 'John' }) %>
            <%- include('../LabelInput/LabelInput', { id: 'lastname', label: 'Apellidos', type: 'text', name: 'lastname', placeholder: 'Doe' }) %>
            <%- include('../LabelInput/LabelInput', { id: 'username', label: 'Usuario', type: 'text', name: 'username', placeholder: 'john.doe' }) %>
            <%- include('../LabelInput/LabelInput', { id: 'email', label: 'Correo', type: 'email', name: 'email', placeholder: 'jhon@doe.com' }) %>
            <%- include('../LabelInput/LabelInput', { id: 'password', label: 'Contraseña', type: 'password', name: 'password', placeholder: 'Contraseña' }) %>
        </div>

        <%- include('../ButtonForm/ButtonForm', { name: 'Iniciar Sesión' }) %>
    </form>
</article>
