<article class="FormAuthentication">
  <picture>
    <img src="/img/favicon.svg" alt="Logo" title="Logo" />
  </picture>

  <form
    action="/register"
    method="POST"
    enctype="multipart/form-data"
    class="FormContainer"
    id="formRegister"
  >
    <div class="FormContent">
      <div>
        <%- include('../LabelInput/LabelInput',
        {class:'group-validate-firstname', id: 'firstname', label: 'Nombre',
        type: 'text', name: 'firstname', placeholder: 'John' }) %>
        <div class="p-errors_firstname">
          <p class="p-validate">
            Nombres del usurario obligatorio, no recibe <br />
            números, ni caracteres especiales
          </p>
        </div>
        <div>
          <% if(locals.errors && errors.firstname) {%>
          <div><%=errors.firstname.msg %></div>
          <% } %>
        </div>
      </div>

      <div>
        <%-include('../LabelInput/LabelInput', {
        class:'group-validate-lastname', id: 'lastname', label: 'Apellidos',
        type: 'text', name: 'lastname', placeholder: 'Doe' }) %>
        <div class="p-errors_lastname">
          <p class="p-validate">
            Apellidos del usurario obligatorio, no recibe <br />
            números, ni caracteres especiales
          </p>
        </div>
        <div>
          <% if(locals.errors && errors.lastname) {%>
          <div><%=errors.lastname.msg %></div>
          <% } %>
        </div>
      </div>
      <div>
        <%-include('../LabelInput/LabelInput', {class:'group-validate-username',
        id: 'username', label: 'Usuario', type: 'text', name: 'username',
        placeholder: 'john.doe' }) %>
        <div class="p-errors_username">
          <p class="p-validate">
            Utilice letras, números y *.#,-, _ <br />
            para su usuario 
          </p>
        </div>
        <div>
          <% if(locals.errors && errors.username) {%>
          <div><%=errors.username.msg %></div>
          <% } %>
        </div>
      </div>

      <div>
        <%-include('../LabelInput/LabelInput', {class:'group-validate-email',
        id: 'email', label: 'Correo', type: 'email', name: 'email', placeholder:
        'jhon@doe.com' }) %>
        <div class="p-errors_email">
          <p class="p-validate">
            Este campo es obligatorio , su correo <br />
            debe ser válido: example@gmail.com
          </p>
        </div>
        <div>
          <% if(locals.errors && errors.email) {%>
          <div><%=errors.email.msg %></div>
          <% } %>
        </div>
      </div>

      <div>
        <%-include('../LabelInput/LabelInput', {class:'group-validate-password',
        id: 'password', label: 'Contraseña', type: 'password', name: 'password',
        placeholder: 'Contraseña' }) %>
        <div class="p-errors_password">
          <p class="p-validate">
            Su contraseña debe contener mínimo <br />
            8 caracteres 
          </p>
        </div>
        <div>
          <% if(locals.errors && errors.password) {%>
          <div><%=errors.password.msg %></div>
          <% } %>
        </div>
      </div>

      <div>
        <%-include('../LabelInput/LabelInput', {class:'group-validate-phone',
        id: 'phone', label: 'Teléfono', type: 'number', name: 'phone',
        placeholder: 'Teléfono' }) %>
        <div class="p-errors_phone">
          <p class="p-validate">
            Por favor indíquenos un número de <br />
            teléfono
          </p>
        </div>
        <div>
          <% if(locals.errors && errors.phone) {%>
          <div><%=errors.phone.msg %></div>
          <% } %>
        </div>
      </div>

      <div>
        <%-include('../LabelInput/LabelInput', {class:'group-validate-address',
        id: 'address', label: 'Dirección', type: 'text', name: 'address',
        placeholder: 'Dirección' }) %>
        <div class="p-errors_address">
          <p class="p-validate">
            Este campo es obligatorio para su <br />
            registro 
          </p>
        </div>
        <div>
          <% if(locals.errors && errors.address) {%>
          <div><%=errors.address.msg %></div>
          <% } %>
        </div>
      </div>

      <div>
        <%-include('../LabelInput/LabelInput', {class:'group-validate-country',
        id: 'country', label: 'Codigo-pais', type: 'number', name: 'country',
        placeholder: 'Codigo Pais' }) %>
        <div class="p-errors_country">
          <p class="p-validate">Indicar su código de país</p>
        </div>
        <div>
          <% if(locals.errors && errors.country) {%>
          <div><%=errors.country.msg %></div>
          <% } %>
        </div>
      </div>

      <label for="avatar">
        <input
          type="file"
          name="avatar"
          id="avatar"
          style="background: white"
        />
      </label>
      <div>
        <% if(locals.errors && errors.avatar) {%>
        <div><%=errors.avatar.msg %></div>
        <% } %>
      </div>
    </div>

    <%- include('../ButtonForm/ButtonForm', { name: 'Registrarse' }) %>
  </form>
</article>
