<label for="<%= locals.id %>" class="LabelInput">
  <span> <%= locals.label %> </span>
  <input
    type="<%= locals.type %>"
    name="<%= locals.name %>"
    placeholder="<%= locals.placeholder %>"
    id="<%= locals.id %>"
    class="<%= locals.class%>"
  />
</label>
