<%- include('../partials/Head') %>
<body>
  <%- include('../components/header/HeaderClient') %>
  <main class="form_container">
    <%- include('../components/sectionsForm') %> <%-
    include('../forms/registerForm_container') %>
  </main>
  <%- include('../partials/Footer') %>
</body>
