<% products.forEach( product => {%> <% const productDet = "/productDet/" +
product.id %>
<a href="<%= productDet %>" class="cardLink">
  <article class="card">
    <picture class="card-img">
      <img alt="product-image" src="<%=product.image.img1 %>" />
    </picture>
    <div class="card-description">
      <div class="name-price">
        <span class="name-product"><%= product.name %></span>
        <span class="price-product">$ <%= product.price %></span>
      </div>
      <div class="rateStars">
        <div class="rate">
          <div class="punctuationRate"><%= product.rating %></div>
          <span class="starRate">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
          </span>
        </div>
        <a href="/productCart" class="btn btn-add-cart">
          <span>Añadir al carrito</span>
          <i class="fas fa-shopping-cart"></i>
        </a>
      </div>
    </div>
  </article>
</a>
<% }) %>
