<% products.forEach( product => {%> <% const productDet = "/productDet/" +
product.id %>
<a href="<%= productDet %>" class="cardLink">
  <article class="card">
    <picture class="card-img">
      <img alt="product-image" src="<%= product.image %>" />
    </picture>
    <div class="card-description">
      <div class="name-price">
        <span class="name-product"><%= product.name %></span>
        <span class="price-product"><%= product.price %></span>
      </div>
      <hr />
      <div class="rate-cart">
        <div class="rate">
          <div class="punctuation"><%= product.rating %></div>
          <span class="star-score">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
          </span>
        </div>
        <button class="btn-add-cart">
          <span>Añadir al carrito</span>
          <a href="/productCart">
            <i class="fas fa-shopping-cart"></i>
          </a>
        </button>
      </div>
    </div>
  </article>
</a>
<% }) %>
