<h2 class='categories'> Categorías </h2>
<div class="container">

		<%- include('./admin_filterList') %>

	<div class="tile blue">1</div>
	<div class="tile red">2</div>
	<div class="tile blue">3</div>
	<div class="tile green">4</div>
	<div class="tile blue">5</div>
	<div class="tile red">6</div>
	<div class="tile red">7</div>
	<div class="tile green">8</div>
	<div class="tile blue">9</div>
	<div class="tile green">10</div>
	<div class="tile red">11</div>
	<div class="tile green">12</div>
	<div class="tile blue">13</div>
	<div class="tile blue">14</div>
	<div class="tile green">15</div>
	<div class="tile red">16</div>
</div>

















<!--

<section class="cards_container wrapper flex-column">
	<% if(locals.find){%> <% find.forEach(prod =>{%>
		<div class="ap-card">
			<h3><%= prod.name%></h3>
			<img src="<%=prod.image.img1%>" alt="imagen" />
			<h3>$ <%= prod.price%></h3>
			<% let enlaceEdit='/product/editProduct/'+prod.id %> <% let
				enlaceDelete='#modalDelete' +prod.id %> <% let modDelete='modalDelete'
				+prod.id %>
			<a href="<%=enlaceEdit%>"
			><button name="" id="">Editar producto</button></a
			>
			<br />
			<a href="<%=enlaceDelete%>"><button>Eliminar producto</button></a>
		</div>

		<div id="<%=modDelete%>" class="modalDialog">
			<div class="modal-content">
				<a href="#close" title="Close" class="close">X</a>
				<form
					action="/product/deleteProduct/<%=prod.id%>?_method=DELETE"
					method="post"
					class="form-product"
					enctype="multipart/form-data"
				>
					<label
					>¿Está seguro que desea eliminar el producto
						<%=prod.name%>?</label
					>
					<br />
					<br />
					<button class="deletebutton" type="submit">
						ELIMINAR PRODUCTO
					</button>
				</form>
			</div>
		</div>

	<%})%> <%}else if(locals.noFind){%>
	<br /><br />
	<h3 style="color: white"><%=noFind%></h3>
	<br /><br />
	<%}else if(locals.products){%> <% products.forEach(prod =>{%>
		<div class="ap-card">
			<h3><%= prod.name%></h3>
			<img src="<%=prod.image.img1%>" alt="imagen" />
			<h3>$ <%= prod.price%></h3>
			<% let enlaceEdit='/product/editProduct/'+prod.id %> <% let
				enlaceDelete='#modalDelete' +prod.id %> <% let modDelete='modalDelete'
				+prod.id %>
			<a href="<%=enlaceEdit%>"
			><button name="" id="">Editar producto</button></a
			>
			<br />
			<a href="<%=enlaceDelete%>"><button>Eliminar producto</button></a>
		</div>

		<div id="<%=modDelete%>" class="modalDialog">
			<div class="modal-content">
				<a href="#close" title="Close" class="close">X</a>
				<form
					action="/product/deleteProduct/<%=prod.id%>?_method=DELETE"
					method="post"
					class="form-product"
					enctype="multipart/form-data"
				>
					<label
					>¿Está seguro que desea eliminar el producto
						<%=prod.name%>?</label
					>
					<br />
					<br />
					<button class="deletebutton" type="submit">
						ELIMINAR PRODUCTO
					</button>
				</form>
			</div>
		</div>

	<%})%> <%}else if(locals.productsByBrand){%> <%
	productsByBrand.forEach(prod =>{%>
		<div class="ap-card">
			<h3><%= prod.name%></h3>
			<img src="<%=prod.image.img1%>" alt="imagen" />
			<h3>$ <%= prod.price%></h3>
			<% let enlaceEdit='/product/editProduct/'+prod.id %> <% let
				enlaceDelete='#modalDelete' +prod.id %> <% let modDelete='modalDelete'
				+prod.id %>
			<a href="<%=enlaceEdit%>"
			><button name="" id="">Editar producto</button></a
			>
			<br />
			<a href="<%=enlaceDelete%>"><button>Eliminar producto</button></a>
		</div>

		<div id="<%=modDelete%>" class="modalDialog">
			<div class="modal-content">
				<a href="#close" title="Close" class="close">X</a>
				<form
					action="/product/deleteProduct/<%=prod.id%>?_method=DELETE"
					method="post"
					class="form-product"
					enctype="multipart/form-data"
				>
					<label
					>¿Está seguro que desea eliminar el producto
						<%=prod.name%>?</label
					>
					<br />
					<br />
					<button class="deletebutton" type="submit">
						ELIMINAR PRODUCTO
					</button>
				</form>
			</div>
		</div>

	<%})%> <%}else if(locals.productsByBcategory){%> <%
	productsByBcategory.forEach(prod =>{%>
		<div class="ap-card">
			<h3><%= prod.name%></h3>
			<img src="<%=prod.image.img1%>" alt="imagen" />
			<h3>$ <%= prod.price%></h3>
			<% let enlaceEdit='/product/editProduct/'+prod.id %> <% let
				enlaceDelete='#modalDelete' +prod.id %> <% let modDelete='modalDelete'
				+prod.id %>
			<a href="<%=enlaceEdit%>"
			><button name="" id="">Editar producto</button></a
			>
			<br />
			<a href="<%=enlaceDelete%>"><button>Eliminar producto</button></a>
		</div>

		<div id="<%=modDelete%>" class="modalDialog">
			<div class="modal-content">
				<a href="#close" title="Close" class="close">X</a>
				<form
					action="/product/deleteProduct/<%=prod.id%>?_method=DELETE"
					method="post"
					class="form-product"
					enctype="multipart/form-data"
				>
					<label
					>¿Está seguro que desea eliminar el producto
						<%=prod.name%>?</label
					>
					<br />
					<br />
					<button class="deletebutton" type="submit">
						ELIMINAR PRODUCTO
					</button>
				</form>
			</div>
		</div>

	<%})%> <%}else if(locals.productsByBcategoryAndBrand){%> <%
	productsByBcategoryAndBrand.forEach(prod =>{%>
		<div class="ap-card">
			<h3><%= prod.name%></h3>
			<img src="<%=prod.image.img1%>" alt="imagen" />
			<h3>$ <%= prod.price%></h3>
			<% let enlaceEdit='/product/editProduct/'+prod.id %> <% let
				enlaceDelete='#modalDelete' +prod.id %> <% let modDelete='modalDelete'
				+prod.id %>
			<a href="<%=enlaceEdit%>"
			><button name="" id="">Editar producto</button></a
			>
			<br />
			<a href="<%=enlaceDelete%>"><button>Eliminar producto</button></a>
		</div>

		<div id="<%=modDelete%>" class="modalDialog">
			<div class="modal-content">
				<a href="#close" title="Close" class="close">X</a>
				<form
					action="/product/deleteProduct/<%=prod.id%>?_method=DELETE"
					method="post"
					class="form-product"
					enctype="multipart/form-data"
				>
					<label
					>¿Está seguro que desea eliminar el producto
						<%=prod.name%>?</label
					>
					<br />
					<br />
					<button class="deletebutton" type="submit">
						ELIMINAR PRODUCTO
					</button>
				</form>
			</div>
		</div>

	<%})%> <%}else{}%>
</section>-->
