<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('../partials/Head')%>
  </head>
  <body class="ap-main">
    <%-include('../partials/Header')%>
    <div class="ap-title">
      <h2>PANEL DE ADMINISTRACIÓN PARA PRODUCTOS WECOL</h2>
    </div>
    <section class="ap-section">
      <%-include("./adminFilterSearch")%>
      <%-include("./btn_adminCreateProduct")%>
      <div class="ap-contenedor">
        <% if(locals.find){%> <% find.forEach(prod =>{%>
        <div class="ap-card">
          <h3><%= prod.name%></h3>
          <img src="<%=prod.image.img1%>" alt="imagen" />
          <h3>$ <%= prod.price%></h3>
          <% let enlaceEdit='/product/editProduct/'+prod.id %> <% let
          enlaceDelete='#modalDelete' +prod.id %> <% let modDelete='modalDelete'
          +prod.id %>
          <a href="<%=enlaceEdit%>"
            ><button name="" id="">Editar producto</button></a
          >
          <br />
          <a href="<%=enlaceDelete%>"><button>Eliminar producto</button></a>
        </div>

        <div id="<%=modDelete%>" class="modalDialog">
          <div class="modal-content">
            <a href="#close" title="Close" class="close">X</a>
            <form
              action="/product/deleteProduct/<%=prod.id%>?_method=DELETE"
              method="post"
              class="form-product"
              enctype="multipart/form-data"
            >
              <label
                >¿Está seguro que desea eliminar el producto
                <%=prod.name%>?</label
              >
              <br />
              <br />
              <button class="deletebutton" type="submit">
                ELIMINAR PRODUCTO
              </button>
            </form>
          </div>
        </div>

        <%})%> <%}else if(locals.noFind){%>
        <br /><br />
        <h3 style="color: white"><%=noFind%></h3>
        <br /><br />
        <%}else if(locals.products){%> <% products.forEach(prod =>{%>
        <div class="ap-card">
          <h3><%= prod.name%></h3>
          <img src="<%=prod.image.img1%>" alt="imagen" />
          <h3>$ <%= prod.price%></h3>
          <% let enlaceEdit='/product/editProduct/'+prod.id %> <% let
          enlaceDelete='#modalDelete' +prod.id %> <% let modDelete='modalDelete'
          +prod.id %>
          <a href="<%=enlaceEdit%>"
            ><button name="" id="">Editar producto</button></a
          >
          <br />
          <a href="<%=enlaceDelete%>"><button>Eliminar producto</button></a>
        </div>

        <div id="<%=modDelete%>" class="modalDialog">
          <div class="modal-content">
            <a href="#close" title="Close" class="close">X</a>
            <form
              action="/product/deleteProduct/<%=prod.id%>?_method=DELETE"
              method="post"
              class="form-product"
              enctype="multipart/form-data"
            >
              <label
                >¿Está seguro que desea eliminar el producto
                <%=prod.name%>?</label
              >
              <br />
              <br />
              <button class="deletebutton" type="submit">
                ELIMINAR PRODUCTO
              </button>
            </form>
          </div>
        </div>

        <%})%> <%}else if(locals.productsByBrand){%> <%
        productsByBrand.forEach(prod =>{%>
        <div class="ap-card">
          <h3><%= prod.name%></h3>
          <img src="<%=prod.image.img1%>" alt="imagen" />
          <h3>$ <%= prod.price%></h3>
          <% let enlaceEdit='/product/editProduct/'+prod.id %> <% let
          enlaceDelete='#modalDelete' +prod.id %> <% let modDelete='modalDelete'
          +prod.id %>
          <a href="<%=enlaceEdit%>"
            ><button name="" id="">Editar producto</button></a
          >
          <br />
          <a href="<%=enlaceDelete%>"><button>Eliminar producto</button></a>
        </div>

        <div id="<%=modDelete%>" class="modalDialog">
          <div class="modal-content">
            <a href="#close" title="Close" class="close">X</a>
            <form
              action="/product/deleteProduct/<%=prod.id%>?_method=DELETE"
              method="post"
              class="form-product"
              enctype="multipart/form-data"
            >
              <label
                >¿Está seguro que desea eliminar el producto
                <%=prod.name%>?</label
              >
              <br />
              <br />
              <button class="deletebutton" type="submit">
                ELIMINAR PRODUCTO
              </button>
            </form>
          </div>
        </div>

        <%})%> <%}else if(locals.productsByBcategory){%> <%
        productsByBcategory.forEach(prod =>{%>
        <div class="ap-card">
          <h3><%= prod.name%></h3>
          <img src="<%=prod.image.img1%>" alt="imagen" />
          <h3>$ <%= prod.price%></h3>
          <% let enlaceEdit='/product/editProduct/'+prod.id %> <% let
          enlaceDelete='#modalDelete' +prod.id %> <% let modDelete='modalDelete'
          +prod.id %>
          <a href="<%=enlaceEdit%>"
            ><button name="" id="">Editar producto</button></a
          >
          <br />
          <a href="<%=enlaceDelete%>"><button>Eliminar producto</button></a>
        </div>

        <div id="<%=modDelete%>" class="modalDialog">
          <div class="modal-content">
            <a href="#close" title="Close" class="close">X</a>
            <form
              action="/product/deleteProduct/<%=prod.id%>?_method=DELETE"
              method="post"
              class="form-product"
              enctype="multipart/form-data"
            >
              <label
                >¿Está seguro que desea eliminar el producto
                <%=prod.name%>?</label
              >
              <br />
              <br />
              <button class="deletebutton" type="submit">
                ELIMINAR PRODUCTO
              </button>
            </form>
          </div>
        </div>

        <%})%> <%}else if(locals.productsByBcategoryAndBrand){%> <%
        productsByBcategoryAndBrand.forEach(prod =>{%>
        <div class="ap-card">
          <h3><%= prod.name%></h3>
          <img src="<%=prod.image.img1%>" alt="imagen" />
          <h3>$ <%= prod.price%></h3>
          <% let enlaceEdit='/product/editProduct/'+prod.id %> <% let
          enlaceDelete='#modalDelete' +prod.id %> <% let modDelete='modalDelete'
          +prod.id %>
          <a href="<%=enlaceEdit%>"
            ><button name="" id="">Editar producto</button></a
          >
          <br />
          <a href="<%=enlaceDelete%>"><button>Eliminar producto</button></a>
        </div>

        <div id="<%=modDelete%>" class="modalDialog">
          <div class="modal-content">
            <a href="#close" title="Close" class="close">X</a>
            <form
              action="/product/deleteProduct/<%=prod.id%>?_method=DELETE"
              method="post"
              class="form-product"
              enctype="multipart/form-data"
            >
              <label
                >¿Está seguro que desea eliminar el producto
                <%=prod.name%>?</label
              >
              <br />
              <br />
              <button class="deletebutton" type="submit">
                ELIMINAR PRODUCTO
              </button>
            </form>
          </div>
        </div>

        <%})%> <%}else{}%>
      </div>
    </section>
    <%-include('../partials/Footer')%>
  </body>
</html>
