<article class="FormAuthentication">
  <picture>
    <img src="/img/favicon.svg" alt="Logo" title="Logo" />
  </picture>
  <form action="/login" method="POST" class="FormContainer" id="formLogin">
    <div class="FormContent">
      <div>
        <%- include('../LabelInput/LabelInput', {id: 'username', label:
        'Usuario', type:'email', name: 'email', placeholder: 'John Doe' }) %>
        <div>
          <% if(locals.errors && errors.email) {%>
          <div><%=errors.email.msg %></div>
          <% } %>
        </div>
      </div>

      <div>
        <%-include('../LabelInput/LabelInput', {id: 'password', label:
        'Contraseña', type: 'password', name: 'password', placeholder:
        'Contraseña' }) %>
        <div>
          <% if(locals.errors && errors.password) {%>
          <div><%=errors.password.msg %></div>
          <% } %>
        </div>
      </div>
    </div>

    <%- include('../ButtonForm/ButtonForm', { name: 'Iniciar Sesión' }) %>
  </form>
</article>
