<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/Head') %>

  <body>
    <%- include('../partials/Header') %>

    <main class="main-login wrapper">
      <picture>
        <img src="/img/mouse2.png" alt="Mouse" title="Mouse" />
      </picture>
      <form action="/loginUser" method="POST" class="form gap32">
        <article class="form-content gap32">
          <label for="" class="form-label10">
            <input type="text" name="email" placeholder="Usuario o correo electrónico" value="<%=locals.old && locals.old.email ? old.email : ''%>"/>
            <i class="fas fa-user"></i>
          </label>
          <%if(locals.error && error.email){%>
            <label class="label-err-log" for="err"><%=error.email.msg%></label>  
          <%}%>
          <label for="" class="form-label10">
            <input type="password" name="password" placeholder="Contraseña" value="<%=locals.old && locals.old.password ? old.password : ''%>"/>
            <i class="fas fa-lock"></i>
          </label>
          <%if(locals.error && error.password){%>
            <label for="err" class="label-err-log"><%=error.password.msg%></label>  
          <%}%>
        </article>
        <article class="btnContainer">
          <input type="submit" class="btn btnFirst" value="Iniciar Sesión" >
          <a href="/register" class="btn btnSecond"> Registrarse </a>
        </article>
        <span class="footForm"
          >¿ Olvidaste tu contraseña ? <a href="/forgotPassword">Recuperala</a>
        </span>
      </form>
    </main>

    <%- include('../partials/Footer') %>
  </body>
</html>
