<%- include('../partials/Head') %>
<body>
<%- include('../components/header/Header') %>
<main class="form_container wrapper">
	<%- include('../components/sectionsForm') %>
	<%- include('../forms/registerForm_container') %>
</main>
<%- include('../partials/Footer') %>
</body>
