<!DOCTYPE html>
<html lang="en">
<%- include('../partials/Head') %>

<body>
<%- include('../partials/Header') %>

<main class="main wrapper">
	<section class="register-content">
		<%- include('../components/sectionsForm') %>
		<%- include('../forms/registerForm_container') %>
	</section>
</main>

<%- include('../partials/Footer') %>
</body>
</html>
